<html>
<head>
<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script> 
<script type="text/javascript" language="javascript" src="/javascripts/jquery.dataTables.js"></script> 
<style type="text/css" title="currentStyle"> 
			@import "/stylesheets/themes/le-frog/jquery-ui-1.8.6.custom.css";
</style>
<script type="text/javascript" charset="utf-8"> 
			$(document).ready(function() {
				$('#example').dataTable({"bJQueryUI":true});
			} );
		</script> 
<script type="text/javascript">
</script>
</head>

<body>

<table id="example">
<thead>
<tr>
<th>Product</th>
<th>D'Agostino</th>
<th>Local Average</th>
</tr>
</thead>
<tbody>
  <tr>
    <td>Bing Cherries, 1 lb.</td>
    <td>$1.99</td>
    <td>$2.99</td>
</tr>
<tr>
<td>Tub o' lard, 1 lb.</td>
<td>$.50</td>
<td>$.99</td>
</tr>
</tbody>
<tfoot>
<td>Total</td>
<td> X</td>
<td>Y</td>
</tfoot>
</table>


</body>


</html>
